body{
    --text-color: #222;
    --bkg-color: #fff;
    --blue-color: #1450A3;
    --input-border:rgba(141, 138, 138, 0.5);
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 4.5fr;
}

*{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body.dark-theme{
    --text-color: #eee;
    --bkg-color: #121212;
}

@media (prefers-color-scheme: dark){
    body{
        --text-color: #eee;
        --bkg-color: #121212;
    }
    body.light-theme{
        --text-color: #222;
        --bkg-color: #fff;
    }
}

body{
    background: var(--bkg-color);
}

h1,
p{
    color: var(--text-color);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 16px;
}

h1{
    font-size: 45px;
    font-weight: 500;
    font-style: italic;
}

.buttonBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#showButton{
    background-color: var(--blue-color);
    font-size: 40px;
}

.darkModeBtn{
    background-color: var(--text-color);
    font-size: 15px;
}

.darkModeBtn,
#showButton{
    color: var(--bkg-color);
    height: 3rem;
    width: 3rem;
    border-radius: 25px;
    border-style: none;
    transition: transform .2s; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.darkModeBtn:hover,
#showButton:hover,
#addButton:hover,
#closeButton:hover{
    transform: scale(1.08);
    box-shadow:
    0 0 0.5rem var(--text-color),
    inset 0 0 0 var(--text-color);
    color: var(--bkg-color);
}

#formDialog{
    border: none;
    width: clamp(200px, 300px, 40%);
    height: clamp(400px, 450px, 50%);
    padding: 0;
    border-radius: 10px;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

#bookForm,
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer > label{
    align-self: flex-start;
    font-weight: 600;
    margin-top: 8px;
}

#title,
#author,
#pages{
    width: 12rem;
    height: 1.8rem;
    border-radius: 4px;
    border: 1px solid var(--input-border);
    text-indent: 5px;
}

#title:focus,
#author:focus,
#pages:focus{
    outline: none;
    border: 1px solid var(--blue-color);
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

 #readStatus{
    margin-top: 8px;
    border: none;
display: flex;
justify-content: center;
gap: 10px;
 }

 #readStatus > legend{
    font-weight: 600;
 }

 #readStatus input[type='radio'] {
    display: none;
}

#readStatus label {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
}

#readStatus label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px; 
    border: 2px solid var(--input-border);
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s;
}

#readStatus input[type='radio']:checked+label:before {
    background-color: var(--blue-color); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

#formButtons{
    display: flex;
    gap: 42px;
    margin-top: 25px;
    
}

#addButton,
#closeButton{
    color: var(--text-color);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border-style: none;
    transition: transform .2s; 
    cursor: pointer;
}

#addButton{
    background-color: green ;
}

#closeButton{
    background-color: #C70039 ;
}

#library{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.bookContainerYes{
    grid-row: 1/2;
    grid-column: 2/3;
}

.bookContainerNo{
    grid-row: 1/2;
    grid-column: 1/2;
}

.bookContainerYes,
.bookContainerNo {
    gap: 24px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,minmax(150px,250px));
    grid-template-rows: repeat(3,1fr);
}

.testYes{
    background-color: red;
}

.testNo{
    background-color: blue;
}

.bookItem{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 8px;
    font-size: 14px;
}